{% extends "content/navigation.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="admin-form-bg">
    <div class="admin-form" style="height: 450px; width: 40%">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="form-title">Add Reward</p>

            <div class="input-field">
                <label for="tokens">Tokens:</label>
                <input type="text" id="tokens" name="token">
            </div>
            <div class="error">
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
                {% else %}
                {% for error in form.token.errors %}
                {{ error }}
                {% endfor %}
                {% endif %}
            </div>

            <div class="input-field">
                <label for="target">Target:</label>
                <input type="number" id="target" name="target">
            </div>
            <div class="error">
                {% for error in form.target.errors %}
                {{ error }}
                {% endfor %}
            </div>

            <div class="select-field">
                <label for="target_type">Choose the target type:</label>
                <select id="target_type" name="target_type">
                    <option value="like">Likes</option>
                    <option value="comment">Comments</option>
                </select>
            </div>
            <div class="error"></div>

            <div class="input-field">
                <label for="reward-badge" style="width: 40%">Reward Badge:</label>
                <input type="file" id="reward-badge" name="reward_badge" accept="image/*">
            </div>

            <button type="submit" name="add" class="custom-button custom-button-form">Add</button>
        </form>
    </div>
</div>
{% endblock content %}