{% extends "content/navigation.html" %}
{% load static %}
{% block content %}
<div class="content-bg">
    <div class="add-content">
        <form method="POST">
            {% csrf_token %}
            <p class="form-title">Update Content </p>

            <div class="content-input-div">
                <label for="content-title">Content Title:</label>
                <input type="text" id="content-title" name="title" value="{{content.title}}">
            </div>
            <div class="custom-error">
                {% for error in errors.title %}
                {{ error }}
                {% endfor %}
            </div>

            <div class="content-input-div">
                <label for="category">Content Category: </label>
                <p style="margin: 1.5% 0% 0 -3%;">{{content.category}}</p>
                <input type="hidden" id="category" name="category" value="{{content.category}}">
            </div>
            <div class="custom-error">
                {% for error in errors.category %}
                {{ error }}
                {% endfor %}
            </div>

            <div class="content-input-div">
                <label style="width: 17%">Content Data:</label>
                {{data}}
            </div>
            <div class="custom-error">
                {% for error in errors.data %}
                {{ error }}
                {% endfor %}
            </div>

            <button type="submit" name="add-content" class="custom-button custom-button-page">Update Post</button>
        </form>

    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/metamask_connection.js' %}"></script>
<script>
    const userAddress = "{{user_address}}"

    $(document).ready(async function () {
        await testConnection(userAddress)
        document.getElementById('id_data').value = "{{content.data|escapejs}}"
    })
</script>
{% endblock script %}