{% extends "content/navigation.html" %}
{% block content %}
{% load humanize %}
<div class="view-content">
    <div class="content-user-profile">
        <div class="content-profile">
            <img class="article-img" src="{{ content_creator.profile_image.url }}">
        </div>

        <div class="content-data">
            <h1 class="article-title"><a href="{% url 'profile' content_creator.username %}">@{{ content_creator.username }}</a></h1>
            <h4><a class="text-muted" href="{% url 'profile' content_creator.username %}">{{ content_creator.first_name }} {{ content_creator.last_name }}</a></h4>

            <!--update/delete content dropdown-->
            <div class="content-dropdown">
                <i class="fas fa-bars" style="cursor: pointer; font-size: x-large"></i>
                <div class="content-dropdown-details">
                    <a href="{% url 'archive_content' content_id %}" style="text-decoration: none; color: #6B728E"><p>Unarchive</p>
                    </a>
                </div>
            </div>

            <small class="text-muted post-time">
                {{ post_time|naturaltime}}
                {% if updated_time %}
                (Updated {{ updated_time|naturaltime}})
                {% endif %}
            </small>
        </div>
    </div>
    <div class="content-details" style="border-bottom: none">
        <p class="form-title">{{ content.title }}</p>
        <h4 style="text-align: center">Category: {{ content.category }}</h4>
        <p style="font-size: medium; padding: 1%">{{ content.data|safe }}</p>
    </div>
</div>

{% endblock content %}