{% extends "users/base.html" %}
{% block content %}

<div class="single-field">
    <form method="POST">
        {% csrf_token %}

        <p class="form-title">Enter your Email ID</p>

        <input type="text" id="email" name="email" placeholder="Email" required>
        <div class="error">
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
        </div>

        <button type="submit" name="send-mail" class="custom-button custom-button-form">Send Mail</button>
    </form>

</div>
{% endblock content %}